<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>群成员管理</title>
    </title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.css"/>
    <link rel="stylesheet" href-data="/Public/css/style.css"/>
    <style type="text/css">
    </style>
</head>

<body ontouchstart="">
<?php if(isset($results) && $results) { ?>
<div class="weui-cells__title weui-cell" style="margin: auto;">
    <div class="weui-cell__bd">
        <p>群成员列表</p>
    </div>
    <div class="weui-cell__ft">
        <a class="weui-btn weui-btn_mini weui-btn_warn  remove-group-user"
           site-user-id="<?php echo $member['site_user_id'];?>" group-id="<?php echo $group_id;?>"
           url-data="/manageGroup/removeGroupMember" href="javascript:">移除用户</a>
    </div>
</div>
<div class="weui-cells group-member-lists weui-cells_checkbox" id='group-member-lists'>
    <?php foreach($results as $key => $member) { ?>
    <label class="weui-cell weui-check__label <?php echo $member['site_user_id'];?>"
           for="<?php echo $member['site_user_id'];?>">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="remove_user" id="<?php echo $member['site_user_id'];?>">
            <i class="weui-icon-checked"></i>
        </div>
        <div name="user_image" class="weui-cell__hd user_image <?php echo $member['user_photo'];?>"
             user-image="<?php echo $member['user_photo'];?>"></div>
        <div class="weui-cell__bd">
            <p>
                <?php echo $member['user_name'];?>
            </p>
        </div>
    </label>
    <?php } ?>
</div>
<?php if(!$loading) {?>
<div class="weui-loadmore weui-loadmore_line loadmore_group_member">
    <span class="weui-loadmore__tips">加载更多</span>
</div>
<?php } else { ?>
<div class="weui-loadmore weui-loadmore_line loadmore_group_member">
    <span class="weui-loadmore__tips">到底啦</span>
</div>
<?php } ?>
<?php } else { ?>
<div class="weui-loadmore weui-loadmore_line">
    <span class="weui-loadmore__tips">暂无数据</span>
</div>
<?php } ?>
<input type="hidden" id="remove_group_user" site-user-id="">
<input type="hidden" id="init_url" group-id="<?php echo $group_id;?>" url-data="/manageGroup/pullGroupMembers">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.js"></script>
<!-- <script type="text/javascript" src="<?php echo $host_name;?>/public/js/manage-group-admin.js<?php echo $static_version?>"> </script> -->
<script type="text/javascript">
    function getOsType() {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {
            return 'Android';
        } else if (u.indexOf('iPhone') > -1) {
            return 'IOS';
        } else {
            return 'PC';
        }
    }

    function reqUrl(reqUri, params, callbackName) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPost(reqUri, params, callbackName);
        } else if (type == 'IOS') {
            ios_requestPost(reqUri, params, callbackName);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function reqHtml(reqUri, params) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPage(reqUri, params)
        } else if (type == 'IOS') {
            ios_requestPage(reqUri, params);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function reqImageUpload(callback) {
        var type = getOsType();
        if (type == 'Android') {
            Android.imageUpload(callback);
        } else if (type == 'IOS') {
            ios_imageUpload(callback);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function reqImageDownload(imageid, callback) {
        var type = getOsType();
        if (type == 'Android') {
            Android.imageDownload(imageid, callback);
        } else if (type == 'IOS') {
            ios_imageDownload(imageid, callback);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function toast(msg) {
        var type = getOsType();
        if (type == 'Android') {
            Android.showToast(msg);
        } else if (type == 'IOS') {
            $.toast(msg);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    $(document).on("click", ".remove-group-user", function () {
        var groupId = $(this).attr('group-id');
        var reqUri = $(this).attr('url-data');
        var removeSiteUserIds = [];
        $('input[name=remove_user]').each(function () {
            var checkedFlag = $(this).prop('checked');
            var siteUserId = $(this).attr('id');
            if (checkedFlag) {
                removeSiteUserIds.push(siteUserId);
            }
        });

        if (removeSiteUserIds.length < 1) {
            $.toptip('移除成员不能为空', 'error');
            return false;
        }

        $('#remove_group_user').attr('site-user-id', JSON.stringify(removeSiteUserIds));
        var params = {
            "group_id": groupId,
            "remove_site_user_id": removeSiteUserIds,
        };
        $.confirm({
            title: '移除群成员',
            text: '确定移除群成员？',
            onOK: function () {
                reqUrl(reqUri, JSON.stringify(params), "removeGroupUser");
                $.closeModal();
            },
            onCancel: function () {
                console.log('cancle');
                toast('取消操作');
                $.closeModal();
            }
        });
    });

    function removeGroupUser(result) {
        if (result == 'fail') {
            $.toast('操作失败', "forbidden");
        } else {
            var siteUserIds = $('#remove_group_user').attr('site-user-id');
            siteUserIds = JSON.parse(siteUserIds);
            $.each(siteUserIds, function (index, siteUserId) {
                console.log(index);
                $('.' + siteUserId).remove();
            });
            $.toast('操作成功');
        }
    }

    function disbandGroup(result) {
        if (result == 'success') {
            $.toast("解散群成功");
        } else {
            $.toast("解散群失败", "forbidden");
        }
    }

    var page = 1;
    var loading = false;
    $(document.body).infinite().on("infinite", function () {
        if (loading) {
            $('.loadmore_group_member').addClass('weui-loadmore_line');
            $('.loadmore_group_member span').html('暂无数据');
            $('.loadmore_group_member i').remove();
            return false;
        }
        page = page + 1;
        var groupId = $('#init_url').attr('group-id');
        var reqUri = $('#init_url').attr('url-data');
        var params = {
            "page": page,
            "group_id": groupId
        };
        reqUrl(reqUri, JSON.stringify(params), 'addMemberToList');
        loading = true;
    });

    function addMemberToList(results) {
        results = JSON.parse(results);
        var data = results.results;
        var html = '';
        $.each(data, function (index, groupMember) {
            var html = '<label class="weui-cell weui-check__label" for="' + groupMember.site_user_id + '"> <div class="weui-cell__hd"> <input type="checkbox" class="weui-check" name="remove_user" id="' + groupMember.site_user_id + '" > <i class="weui-icon-checked"></i> </div> <div name="user_image" class="weui-cell__hd user_image ' + groupMember.user_photo + '" user-image="' + groupMember.user_photo + '"></div> <div class="weui-cell__bd"> <p>' + groupMember.user_name + '</p> </div> </label>';
            console.log(html);
            $('#group-member-lists').append(html);
        });
        loading = results.loading;
    }
</script>
</body>

</html>