<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>已使用列表</title>
    </title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.css" />
    <link rel="stylesheet" href-data="Public/css/style.css" />
    <style type="text/css">
    <?php echo $css_code;
    ?>
    </style>
</head>

<body ontouchstart="">
    <div class="weui-cells__title weui-cell">
        已使用列表
    </div>
    <?php if($results) {?>
    <div class="weui-cells" id="invitecode-lists">
        <?php foreach($results as $key => $val) {?>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>
                    <?php echo $val['code']; ?>
                </p>
            </div>
            <div class="weui-cell__ft">
                <?php echo $val['use_site_user_name']; ?>
            </div>
        </div>
        <?php } ?>
    </div>
    <?php if(!$loading) {?>
    <div class="weui-loadmore weui-loadmore_line loadmore_site_invitecode">
        <span class="weui-loadmore__tips">加载更多</span>
    </div>
    <?php } else { ?>
    <div class="weui-loadmore weui-loadmore_line loadmore_site_invitecode">
        <span class="weui-loadmore__tips">到底啦</span>
    </div>
    <?php } ?>
    <?php } else { ?>
    <div class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">暂无数据</span>
    </div>
    <?php } ?>
    <input type='hidden' id='init_url' url-data="/manageInviteCode/pullInviteCode" data-type="used" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.js"></script>
    <script type="text/javascript">
    function getOsType() {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1 || u.indexOf('Windows Phone') > -1) {
            return 'Android';
        } else if (u.indexOf('iPhone') > -1) {
            return 'IOS';
        } else {
            return 'PC';
        }
    }

    function reqUrl(reqUri, params, callbackName) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPost(reqUri, params, callbackName);
        } else if (type == 'IOS') {
            ios_requestPost(reqUri, params, callbackName);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function reqHtml(reqUri, params) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPage(reqUri, params)
        } else if (type == 'IOS') {
            ios_requestPage(reqUri, params);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function toast(msg) {
        var type = getOsType();
        if (type == 'Android') {
            Android.showToast(msg);
        } else if (type == 'IOS') {
            $.toast(msg);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    var page = 1;
    var loading = false;
    $(document.body).infinite().on("infinite", function() {
        if (loading) {
            $('.loadmore_site_invitecode').addClass('weui-loadmore_line');
            $('.loadmore_site_invitecode span').html('暂无数据');
            $('.loadmore_site_invitecode i').remove();
            return
        }
        page = page + 1;
        var reqUri = $('#init_url').attr('url-data');
        var codeStatus = $('#init_url').attr('data-type');
        var params = {
            "page": page,
            "code_status": codeStatus
        };
        reqUrl(reqUri, JSON.stringify(params), 'addInviteCodeToList');
        loading = true;
    });

    function addInviteCodeToList(results) {
        console.log('回调-addInviteCodeToList');
        results = JSON.parse(results);
        var data = results.results;
        var html = '';
        $.each(data, function(index, code) {
            var html = '<div class="weui-cell"> <div class="weui-cell__bd"> <p>' + code.code + '</p> </div> <div class="weui-cell__ft">' + code.use_site_user_name + '</div> </div>';
            $('#invitecode-lists').append(html);
        });
        loading = results.loading;
    }
    </script>
</body>

</html>