########################################################
###  ***************Akaxin ***************
###     openzaly datasource config
###     support sqlite + mysql 
########################################################


##openzaly.datasource.driverClassName=org.sqlite.JDBC
##openzaly.datasource.url=openzalyDB.sqlite3

openzaly.datasource.driverClassName=com.mysql.cj.jdbc.Driver
## mysql database name : openzaly
openzaly.datasource.url=jdbc:mysql://localhost:3306/openzaly

openzaly.datasource.username=root
openzaly.datasource.password=1234567890
openzaly.datasource.initial-size=10
openzaly.datasource.max-size=100
openzaly.datasource.max-idle=60

openzaly.datasource.useUnicode=true
openzaly.datasource.characterEncoding=utf-8
openzaly.datasource.verifyServerCertificate=false
openzaly.datasource.useSSL=true
