<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
<meta charset="utf-8" />
<title>阿卡信Web客户端</title>
<meta name="description"
	content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/webChat/css/app.v2.css" type="text/css" />
<!-- <link rel="stylesheet" href="css/font.css" type="text/css" cache="false" /> -->
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js" cache="false"></script> <script src="js/ie/respond.min.js" cache="false"></script> <script src="js/ie/excanvas.js" cache="false"></script> <![endif]-->
</head>

<body>
	<!-- 二维码部分  -->
	<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
		<div class="container aside-xxl">
			<!-- <a class="navbar-brand block" href="index.html">Notebook</a> -->
			<section class="panel panel-default bg-white m-t-lg">
				<!-- 放置站点logo和站点名称 -->
				<header class="text-center">
					<!-- <strong>Sign in</strong>  -->
					<div class="clearfix m-b m-t-lg">
						<a href="#" class="thumb-lg"> <img src="/file/site-logo"
							class="img-square"
							onerror="javascript:this.src='/webChat/images/akaxin_logo.png'">
						</a>
					</div>
					<div class="h4 m-t-xs m-b-xs" id="siteName">[[${siteName}]]</div>
				</header>


				<!-- 二维码位置 -->
				<div class="content panel-body wrapper-lg">
					<div id="code" class="text-center"></div>
				</div>

				<footer class="m-b">
					<div class="clear">
						<p class="text text-center">
							<strong>使用阿卡信手机客户端扫描登陆</strong></a>
						<p class="text-muted text-center">
							<small>网页版阿卡信需要配合手机使用</small>
						</p>
					</div>
				</footer>
			</section>
		</div>
	</section>

	<!-- footer -->
	<footer id="footer">
		<div class="text-center padder">
			<p>
				<small>北京阿卡信信息技术有限公司<br> &copy; 2018
				</small>
			</p>
		</div>
	</footer>
	<!-- / footer -->

	<!-- js -->
	<script src="/webChat/js/app.v2.js"></script>
	<script src="/webChat/js/qr/jquery.qrcode.min.js" cache="false"></script>
	<script type="text/javascript" th:inline="javascript">
		var webLoginKey = "";
		
		$(function() {
			webLoginKey = akxWebGuid();
			//展示二维码
			showQrCode();
			//间隔执行登陆操作,1.5s执行一次
			setInterval("webClientLogin()", 1500);
		})

		function showQrCode() {
			/*<![CDATA[*/
			var siteAddress = /*[[${siteAddress}]]*/;
			/*]]>*/
			var code = {
				'action' : 'login_web_chat',
				'address' : siteAddress,
				'loginKey' : webLoginKey
			};
			$('#code').qrcode(JSON.stringify(code));
		}

		function webClientLogin() {
			if (typeof (webLoginKey) == "undefined" || webLoginKey == null
					|| webLoginKey == "") {
				return;
			}
			var data = {
				'loginKey' : webLoginKey
			};

			$.post("/site/login", data, function(result) {
				if (result.success) {
					var sessionId = result.sessionId;
					window.location.href = "/akaxin/chat?sessionId="
							+ sessionId;
				}
			}, "JSON");
		}

		/*  $.ajax({
		  type: 'POST',
		  url: "/site/config",
		  data: "",
		  success: success,
		  dataType: dataType
		  dataType="json",
		}); */

		function toUtf8(str) {
			var out, i, len, c;
			out = "";
			len = str.length;
			for (i = 0; i < len; i++) {
				c = str.charCodeAt(i);
				if ((c >= 0x0001) && (c <= 0x007F)) {
					out += str.charAt(i);
				} else if (c > 0x07FF) {
					out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
					out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
					out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
				} else {
					out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
					out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
				}
			}
			return out;
		}

		function akxWebGuid() {
			function S4() {
				return (((1 + Math.random()) * 0x10000) | 0).toString(16)
						.substring(1);
			}
			return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4());
		}
	</script>
	<!-- / js -->

	<!-- / Bootstrap -->
	<!-- / App -->
</body>
</html>
