<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>阿卡信Web客户端</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/webChat/css/app.v2.css" type="text/css" />
<!-- <link rel="stylesheet" href="css/font.css" type="text/css" cache="false" /> -->

<!--[if lt IE 9]> <script src="/webChat/js/ie/html5shiv.js" cache="false"></script> <script src="/webChat/js/ie/respond.min.js" cache="false"></script> <script src="/webChat/js/ie/excanvas.js" cache="false"></script> <![endif]-->
</head>
<body>
	<section class="vbox ">
		<!-- 顶部导航栏 -->
		<header class="bg-dark dk header navbar navbar-fixed-top-xs">
			<div class="navbar-header aside-md">
				<a class="btn btn-link visible-xs"
					data-toggle="class:nav-off-screen" data-target="#nav"> <i
					class="fa fa-bars"></i>
				</a> <a href="#" class="navbar-brand avatar b-2x m-r"
					data-toggle="fullscreen"> <img src="/file/site-logo"
					class="m-r-sm"> [[${siteName}]]
				</a>
				<!-- <a href="#" class="navbar-brand" data-toggle="fullscreen"><img src="images/akaxin_logo.png" class="m-r-sm">开源阿卡信</a> -->
			</div>


			<!--  -->
			<ul class="nav navbar-nav navbar-right hidden-xs nav-user">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <span class="thumb-sm avatar pull-left">
							<img th:src="'/file/download?fileId='+${userPhoto}"
							class="img-circle">
					</span> [[${userName}]] <b class="caret"></b>
				</a>
					<ul class="dropdown-menu animated fadeInRight">
						<span class="arrow top"></span>
						<!-- <li><a href="#">个人</a></li>
						<li><a href="#">消息通知<span
								class="badge bg-danger pull-right">3</span>
						</a></li>
						<li class="divider"></li> -->
						<!-- <li><a href="/akaxin/index" data-toggle="ajaxModal">退出</a></li> -->
						<!-- <li><a href="/akaxin/index" data-toggle="ajaxModal">退出</a></li> -->
						<li><a href="/akaxin/index" data-toggle="modal">退出</a></li>
					</ul></li>
			</ul>
		</header>

		<section>
			<section class="hbox stretch">
				<!-- .aside -->
				<aside class="bg-white aside-md ">
					<section class="vbox"></section>
				</aside>
				<!-- /.aside -->
				<section id="content">
					<section class="hbox stretch">

						<!-- .aside -->
						<aside class="aside-xl b-l b-r" id="chat-list">
							<section class="vbox flex">
								<header class="header clearfix">
									<!-- <span class="pull-right m-t">
                  <button class="btn btn-dark btn-sm btn-icon" id="new-note" data-toggle="tooltip" data-placement="right" title="New"><i class="fa fa-plus"></i></button>
                </span> -->

									<!-- <p class="h5ite-name"></p> -->

									<div class="clearfix m-t">
										<a href="#" class="pull-left thumb avatar b-3x m-r"> <img
											th:src="'/file/download?fileId='+${userPhoto}"
											class="img-circle">
										</a>
										<div class="clear">
											<div class="m-t text h4">[[${userName}]]</div>
											<div class="">
												用户ID：<small class="text-muted">[[${userId}]]</small>
											</div>
										</div>
									</div>

									<div class="input-group m-t-sm m-b-sm">
										<span class="input-group-addon input-sm"><i
											class="fa fa-search"></i></span> <input type="text"
											class="form-control input-sm" id="search-note"
											placeholder="search">
									</div>

									<div class="clearfix">
										<ul class="nav nav-tabs nav-white nav-justified ">
											<li class="active"><a href="#message" data-toggle="tab">消息</a></li>
											<li class=""><a href="#contacts" data-toggle="tab">通讯录</a></li>
										</ul>
									</div>
								</header>

								<section>
									<section class="vbox">
										<section class="scrollable">
											<div class="tab-content">

												<div class="tab-pane active" id="message">
													<ul id="chatSessions"
														class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
														<!-- 聊天会话列表 -->
													</ul>
												</div>
												<div class="tab-pane" id="contacts">
													<!-- <div class="text-center wrapper">
														<i class="fa fa-spinner fa fa-spin fa fa-large"></i>
													</div> -->

													<div class="">
														<small class="text-muted">群组</small>
													</div>
													<ul id="groups"
														class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
														<!-- 群组列表展示处 -->
													</ul>

													<!-- 分割线 -->
													<div class="line"></div>

													<div class="">
														<small class="text-muted">好友</small>
													</div>
													<ul id="friends"
														class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
														<!-- 好友列表展示处 -->
													</ul>
												</div>
											</div>
										</section>
									</section>
								</section>

								<footer class="footer bg-success"></footer>
							</section>
						</aside>
						<!-- /.aside -->

						<aside id="chat-detail">
							<!-- vbox 水平 -->
							<!-- <section class="vbox">  -->
							<section class="vbox flex">

								<header class="panel-heading text-center m-t b-light">
									<div class="h4 block">王小腾</div>
								</header>

								<!-- 消息聊天界面 -->
								<section>
									<section class="vbox">

										<section id="chatContent" class="chat-list panel-body scrollable" style="bottom: 50px">
											<!-- 加载动画 -->
											<div class="text-center wrapper">
												<i class="fa fa-spinner fa fa-spin fa fa-large"></i>
											</div>

											<!-- 展示时间 -->
											<article id="chat-item-time" class="chat-item b-light">
												<section class="chat-body text-center">
													<small class="text-muted">12:00</small>
												</section>
											</article>

											<!-- 接受对方发送消息 -->
											<article id="chat-receive" class="chat-item left">
												<a href="#" class="pull-left thumb-sm avatar"> <img
													src="/webChat/images/avatar_2.jpg" class="img-circle">
												</a>
												<section class="chat-body">
													<div class="panel b-light col-lg-4 m-b-none">
														<div class="panel-body">
															<!-- 向左的箭头-->
															<span class="arrow left"></span>
															<p class="m-b-none">收到对方一条消息</p>
														</div>
													</div>
												</section>
											</article>

											<!-- 展示时间 -->
											<article id="chat-item-time" class="chat-item b-light">
												<section class="chat-body text-center">
													<small class="text-muted">12:00</small>
												</section>
											</article>

											<article id="chat-send" class="chat-item right">
												<a href="#" class="pull-right thumb-sm avatar"> <img
													src="/webChat/images/avatar_1.jpg" class="img-circle">
												</a>
												<section class="chat-body pull">
													<div class="panel bg bg-success col-lg-4 m-b-none"
														style="float: right;">
														<div class="panel-body">
															<!-- 向右的箭头-->
															<span class="arrow right"></span>
															<p class="m-b-none">我发送了一条消息</p>
														</div>
													</div>
												</section>
											</article>

										</section>
									</section>
								</section>

								<!-- 消息输入框 -->
								<footer class="panel-footer b" style="bottom: 50px;">
									<div class="">
										<div class="btn-toolbar m-b-sm btn-editor"
											data-role="editor-toolbar" data-target="#editor">
											<div class="btn-group">
												<ul class="nav nav-pills nav-sm">
													<li><a href="#" id="pictureBtn"><i
															class="fa fa-picture-o"></i></a></li>
													<!-- <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                          <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li> -->
												</ul>
												<input type="file" data-role="magic-overlay"
													data-target="#pictureBtn" data-edit="insertImage" />
											</div>
										</div>
										<div id="editor" class="b scrollable"
											style="overflow: auto; height: 150px; max-height: 150px;"></div>

									</div>

									<div class="doc-buttons pull-right">
										<a href="#" class="text-muted" style="vertical-align: bottom;">按Cmd+Enter换行&nbsp&nbsp</a>
										<a href="#" class="btn btn-s-md bg-white bottom"
											id="sendMessage">发送</a>
									</div>
								</footer>


								<!-- <footer class="panel-footer"></footer> -->
							</section>

						</aside>
					</section>
				</section>

				<!-- 最右侧Notification通知 -->
				<aside class="bg-white lter b-l aside-md" id="notifications">
					<!-- <aside class="bg-light lter b-l aside-md show" id="notifications"> -->
					<!-- <div class="wrapper">Notification</div> -->
				</aside>
			</section>
		</section>

		<!-- 页面底部留空白 -->
		<footer class="footer bg-white b b-light"> </footer>

	</section>

	<script src="/webChat/js/app.v2.js"></script>
	<!-- Bootstrap -->
	<!-- App -->
	<script src="/webChat/js/libs/underscore-min.js" cache="false"></script>
	<script src="/webChat/js/libs/backbone-min.js" cache="false"></script>
	<script src="/webChat/js/libs/backbone.localStorage-min.js"
		cache="false"></script>
	<script src="/webChat/js/libs/moment.min.js" cache="false"></script>
	<!-- wysiwyg -->
	<script src="/webChat/js/wysiwyg/jquery.hotkeys.js" cache="false"></script>
	<script src="/webChat/js/wysiwyg/bootstrap-wysiwyg.js" cache="false"></script>
	<script src="/webChat/js/wysiwyg/demo.js" cache="false"></script>
	<!-- websocket js client -->
	<script type="text/javascript" th:inline="javascript">
	
	/*<![CDATA[*/
	var sessionId  = /*[[${sessionId}]]*/;
	var siteUserId = /*[[${userId}]]*/; 
	/*]]>*/
	
	var wsUri = getWsRootUri() + "/akaxin/ws?sessionId="+sessionId;
	var websocket;
	
	$(function() {
		/*<![CDATA[*/
		var siteName = /*[[${siteName}]]*/;
		/*]]>*/
	});
	
	function getWsRootUri() {
	    return "ws://" + getHostName() + ":" + 9090;
	}
	
	function getHostName(){
		return (document.location.hostname == "" ? "localhost" : document.location.hostname);
	}

	if (window.WebSocket) {
		websocket = new WebSocket(wsUri);  //获得WebSocket对象
		
		//打开连接
        websocket.onopen = function(event){
            var respMessage = document.getElementById("respMessage");
            //respMessage.value = "建立连接";
            alert("连接："+wsUri+"成功");
            getChatList();
            getFriendList();
            getGroupList();
        }
		
		//接受消息
        websocket.onmessage = function(event){ 
            var respMessage = document.getElementById("respMessage");
            //respMessage.value = respMessage.value + "\n" + event.data;
            alert("接受消息："+wsUri);
            var textHtml = receiveTextMessageHtml();
    		
    			$("#chatContent").append(textHtml);
        }
        
        //关闭
        websocket.onclose = function(event){
            var respMessage = document.getElementById("respMessage");
            //respMessage.value = respMessage.value + "\n断开连接";
            alert("断开连接："+wsUri);
        }
        
	} else {
		alert("浏览器不支持此版本");
	}

	//点击发送消息
	$("#sendMessage").click(function(){
		var text = $("#editor").html();
		
		var textHtml = sendTextMessageHtml(text);
		
		$("#chatContent").append(textHtml);
		
		sendMessage(text);
		$("#editor").empty();
	});
	
	function sendMessage(text){
		var status = checkWsStatus();
		if(status){
			websocket.send(text);	
		}else{
			alert("连接状态失败");
		}
	}
	
	function checkWsStatus(){
		switch (websocket.readyState) {
		  case WebSocket.CONNECTING:
		    // do something
		    break;
		  case WebSocket.OPEN:
		    // do something
		    alert("ws状态："+websocket.readyState);
		    return true;
		  case WebSocket.CLOSING:
		    // do something
		    break;
		  case WebSocket.CLOSED:
		    // do something
		    break;
		}
		return false;
	}
	
	function getChatList(){
		var data = {
			'sessionId' : sessionId
		};

		$.post("/akaxin/chatList", data, function(result) {
			$.each(result, function (index, chatObj) {
				var innerHtml = '<li class="list-group-item" id="'+chatObj.id+'" stype="'+chatObj.stype+'">'
				+'<a href="#" class="thumb-sm pull-left m-r-sm"><img src="/file/download?fileId='+chatObj.photo+'" class="img-circle" onerror="javascript:this.src=\'/webChat/images/akaxin_logo.png\'"></a>'
				+'<a href="#" class="clear"><strong class="block">'+chatObj.name+'</strong><small>'+chatObj.msg+'</small></a></li>';
				$("#chatSessions").append(innerHtml);
            });
		}, "JSON");
	}
	
	function getFriendList(){
		var data = {
			'sessionId' : sessionId
		};
		
		$.post("/akaxin/friendList", data, function(result) {
			$.each(result, function (index, friendObj) {
				var innerHtml = '<li class="list-group-item" id="'+friendObj.siteUserId+'">'
				+'<a href="#" class="thumb-sm pull-left m-r-sm"><img src="/file/download?fileId='+friendObj.userPhoto+'" class="img-circle" onerror="javascript:this.src=\'/webChat/images/akaxin_logo.png\'"></a>'
				+'<a href="#" class="clear"><strong class="block">'+friendObj.userName+'</strong><small>&nbsp</small></a></li>';
				$("#friends").append(innerHtml);
            });
		}, "JSON");
	}
	
	function getGroupList(){
		var data = {
			'sessionId' : sessionId
		};

		$.post("/akaxin/groupList", data, function(result) {
			$.each(result, function (index, groupObj) {
				var innerHtml = '<li class="list-group-item" id="'+groupObj.siteGroupId+'">'
				+'<a href="#" class="thumb-sm pull-left m-r-sm"><img src="/file/download?fileId='+groupObj.groupPhoto+'" class="img-circle" onerror="javascript:this.src=\'/webChat/images/akaxin_logo.png\'"></a>'
				+'<a href="#" class="clear"><strong class="block">'+groupObj.groupName+'</strong><small>&nbsp</small></a></li>';
				$("#groups").append(innerHtml);
            });
		}, "JSON");
	}
	
	
	function receiveTextMessageHtml(){
		var textHtml = 
			'<article id="chat-item-time" class="chat-item b-light">'
			+'<section class="chat-body text-center">'
			+'	<small class="text-muted">12:00</small>'
			+'	</section>'
			+'</article>'
			+'<article id="chat-receive" class="chat-item left">'
			+'	<a href="#" class="pull-left thumb-sm avatar"><img src="/webChat/images/avatar_2.jpg" class="img-circle"></a>'
			+'	<section class="chat-body">'
			+'		<div class="panel b-light col-lg-4 m-b-none">'
			+'			<div class="panel-body">'
			+'				<span class="arrow left"></span>'
			+'				<p class="m-b-none">收到对方一条消息</p>'
			+'			</div>'
			+'		</div>'
			+'	</section>'
			+'</article>';
		return textHtml;
	}
	
	function sendTextMessageHtml(text){
		/*<![CDATA[*/
		var userPhoto = /*[[${userPhoto}]]*/;
		/*]]>*/
		var textHtml = 
			'<article id="chat-send" class="chat-item right">'
			+'	<a href="#" class="pull-right thumb-sm avatar"> <img src="/file/download?fileId='+userPhoto+'" class="img-circle"> </a>'
			+'	<section class="chat-body pull">'
			+'		<div class="panel bg bg-success col-lg-4 m-b-none" style="float: right;">'
			+'			<div class="panel-body">'
			+'				<span class="arrow right"></span>'
			+'				<p class="m-b-none">'+text+'</p>'
			+'			</div>'
			+'		</div>'
			+'	</section>'
			+'</article>';
		return textHtml;
	}
	
</script>

</body>
</html>
