<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>已使用列表</title>
    </title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.css"/>
    <link rel="stylesheet" href="/Public/css/style.css"/>

</head>

<body ontouchstart="">
<div class="weui-cells__title weui-cell">
    已使用列表
</div>
<div class="weui-cells" id="invitecode-lists">

</div>
<div class="weui-loadmore weui-loadmore_line loadmore_site_invitecode">
    <span class="weui-loadmore__tips"></span>
</div>
<input type='hidden' id='init_url' url-data="/uic/uicList" data-type="used"/>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.js"></script>
<script type="text/javascript">

   //初始化事件
   $(function () {
       usedlist();
    });

    function getOsType() {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1 || u.indexOf('Windows Phone') > -1) {
            return 'Android';
        } else if (u.indexOf('iPhone') > -1) {
            return 'IOS';
        } else {
            return 'PC';
        }
    }

    function reqUrl(reqUri, params, callbackName) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPost(reqUri, params, callbackName);
        } else if (type == 'IOS') {
            ios_requestPost(reqUri, params, callbackName);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function reqHtml(reqUri, params) {
        var type = getOsType();
        if (type == 'Android') {
            Android.requestPage(reqUri, params)
        } else if (type == 'IOS') {
            ios_requestPage(reqUri, params);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    function toast(msg) {
        var type = getOsType();
        if (type == 'Android') {
            Android.showToast(msg);
        } else if (type == 'IOS') {
            $.toast(msg);
        } else {
            $.toast('暂时不支持该设备');
        }
    }

    var page = 0;
    var loading = false;

    function usedlist() {
        if (loading) {
            $('.loadmore_site_invitecode').addClass('weui-loadmore_line');
            $('.loadmore_site_invitecode span').html('暂无数据');
            $('.loadmore_site_invitecode i').remove();
            return
        }
        page = page + 1;
        var reqUri = $('#init_url').attr('url-data');
        var codeStatus = $('#init_url').attr('data-type');
        if (codeStatus == "unused") {
            codeStatus = 0;
        } else {
            codeStatus = 1;
        }
        var params = {
            "page": page.toString(),
            "code_status": codeStatus.toString()
        };
        reqUrl(reqUri, JSON.stringify(params), 'addInviteCodeToList');
        loading = true;

    }

    $(document.body).infinite().on("infinite", function () {
        usedlist();
    });

    function addInviteCodeToList(results) {
        console.log('回调-addInviteCodeToList');
        var res = eval("(" + results + ")");
        var data = res.uicData;
        var html = '';
        $.each(data, function (index, uic) {
            var html = '<div class="weui-cell"> <div class="weui-cell__bd"> <p>' + uic.uic + '</p> </div> <div class="weui-cell__ft">' + uic.siteUserName + '</div> </div>';
            $('#invitecode-lists').append(html);
        });
        loading = res.loading;

        if (loading == true) {
            $(".weui-loadmore__tips").html("到底啦");
        } else {
            $(".weui-loadmore__tips").html("加载更多");
        }
    }
</script>
</body>

</html>